name: CI
on:
    push:
      branches:
        - main
    pull_request:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.10']

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install extra packages for tests
        run: |
          pip install wheel nose lxml

      - name: Install package
        run: |
          pip install .

      - name: Run tests
        run: nosetests --exe
