name: CI
on:
    push:
      branches:
        - main
    pull_request:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install packages
        run: uv sync --frozen

      - name: Check formatting
        run: |
          make check-format

      - name: Check linting
        run: |
          make check-fix

      - name: Run tests
        run: make test

      - name: Build package
        run: uv build
